  
[Unit]
Description=todo Service

[Service]
Environment=REDIS_HOST=redis-{{ENV}}.zsldevops.online
ExecStart=/bin/node /home/ubuntu/todo/server.js
SyslogIdentifier =todo

[Install]
WantedBy=multi-user.target